@charset "utf-8";

body
{	

	font-family: Segoe UI Light;
}

.loader {	
	background: url(../img/plane_load.gif) center no-repeat #fff;
	background-color: rgba(49,153,218,1);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
	opacity: .8;
	
}

#header
{
	position: absolute;
	left: 0px;
	top: 0px;
	border-bottom: 1px solid #31AFBD;
	width: 100%;
	height: 8%;
	min-height: 55px;
	vertical-align: middle;
}


.logo
{
	position: relative;
	left: 2px;
	margin: 2px;
	height: 85%;
	float: left;
}

.langSel						/*Esto deberia ir al reves, para que langSel sea relativo en right a usuario*/
{
	position: absolute;
	right: 160px;
	margin: 10px;					/*Mal. Esto esta trucado para estar centrado verticalmente*/
}

.usuario
{
	position: absolute;
	right: 15px;
	margin: 10px;
}

#main						/*Deberia ser relativa al header*/
{
	position: absolute;
	top: 55px;
	right: 0px;
	width: 100%;
	height: 90%;
	overflow: auto;
}

#footer
{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 8%;
	min-height: 55px;
	background-color: #3199DA;
	display: flex;
  	justify-content: center;
 	align-items: center;
	
}

.textInfo
{
	color: white;
	font-size: 10px;
	margin: 0;
	padding: none;
	padding-left: 10px;
}

/******************************************************/


.title						/*Este se usara para los encabezados*/
{
	position: relative;
	top: 5%;
	left: 3%;
	color:#3C9EDC;
	font-size: 36px;
	font-weight: 100;
}

#contCheck
{
	/*Centar div dinamico (Absoluto o fijo)*/
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;

	position: absolute;
	top: 25%;
	height: auto;
	width: auto;
	padding: 50px 20px;
	min-width: 300px;
	max-width: 600px;
	border: 1px solid #E2E2E2;
	text-align: center;
	font-family: Segoe UI Semibold;
}


#datos
{
	position: relative;
	top: 10%;
	left: 10%;
	width: 30%;
	height: 100%;
	float: left;
	font-size: 100%;
}

#contCheck .pase
{
	position: relative;
	width: 50%;
	height: 100%;
	float: right;
	vertical-align: center;
}

/* main.html styles */

#srchForm {
	margin: 2em auto;
    width: 80%;
}

#formOptions {
	width: 100%;
  	padding: 10px 5px;
	overflow: hidden;	
	background-color: #3198DA;


}

#formOptions label {
	float: left;
	font-size:calc(10px + 1vw);
	font-weight: bold;
	color: white;
	width: 25%;
	padding: 5px 10px;

}

#formOptions input, select {
	width: 95%;
	font-size:90%;
}

#btnSearch {
	font-size:calc(10px + .8vw);
	padding: 10px;
	color: white;
	float: right;
	margin: 2em 0;
	background-color:#3197DA;
	
}

