@charset "utf-8";

body
{	
	font-family: Segoe UI Light;
}

.loader 
{	
	background: url(../img/plane_load.gif) center no-repeat #fff;
	background-color: rgba(49,153,218,1);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
	opacity: .8;	
}

#header
{
	position: absolute;
	left: 0px;
	top: 0px;
	border-bottom: 1px solid #31AFBD;
	width: 100%;
	height: 8%;
	min-height: 55px;
	vertical-align: middle;
	z-index: 50;
	background-color: white;
}


.logo
{
	position: relative;
	left: 2px;
	margin: 2px;
	height: 85%;
	float: left;
}

.langSel						/*Esto deberia ir al reves, para que langSel sea relativo en right a usuario*/
{
	position: absolute;
	right: 160px;
	margin: 10px;					/*Mal. Esto esta trucado para estar centrado verticalmente*/
}

.usuario
{
	position: absolute;
	right: 15px;
	margin: 10px;
}

#main						/*Deberia ser relativa al header*/
{
	position: absolute;
	top: 8%;
	width: 100%;
	height: 90%;
	overflow: auto;
}

#footer
{
	background-image: linear-gradient(45deg, #359BDB, #5AB1E6);
	position: absolute;
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 8%;
	min-height: 55px;
	display: flex;
  	justify-content: center;
 	align-items: center;
	z-index: 50;
}

.textInfo
{
	color: white;
	font-size: 10px;
	margin: 0;
	padding: none;
	padding-left: 10px;
}

/******************************************************/


.title						/*Este se usara para los encabezados*/
{
	position: relative;
	top: 5%;
	left: 3%;
	color:#3C9EDC;
	font-size: 36px;
	font-weight: 100;
}

#contCheck
{
	/*Centar div dinamico (Absoluto o fijo)*/
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;

	position: absolute;
	top: 25%;
	height: auto;
	width: auto;
	padding: 50px 20px;
	min-width: 300px;
	max-width: 600px;
	border: 1px solid #E2E2E2;
	text-align: center;
	font-family: Segoe UI Semibold;
}

#datos
{
	position: relative;
	top: 10%;
	left: 10%;
	width: 30%;
	height: 100%;
	float: left;
	font-size: 100%;
}

#contCheck .pase
{
	position: relative;
	width: 50%;
	height: 100%;
	float: right;
	vertical-align: center;
}

/* main.html styles */

#srchForm 
{
	margin: 2em auto;
    width: 70%;
	overflow: hidden;
	z-index: 1;
}

#flyOptions 
{
	font-family: Segoe UI;
  	padding: 10px 5px;
	overflow: inherit;	
}

#flyOptions label 
{
	float: left;
	font-size:calc(8px + .8vw);
	color: white;
	width: 20%;
	min-width: 150px;
	margin: 5px 10px;
}

@media screen and (max-width: 805px) 
{
	  #flyOptions label 
	  {
		width: 90%;
	}
}


#flyOptions input, select 
{
	width: 90%;
	font-size: 75%;
}

.btnSearch 
{
	font-size:calc(8px + .8vw);
	padding: 10px;
	color: white;
	float: right;
	margin: 2em 0;
	border: none;
	background-color:#3197DA;	
}



/*********************/ Vuelos

.azul
{
	background-image: linear-gradient(45deg, #359BDB, #5AB1E6);
}

.cuadroAzul
{
	position: relative;
	float: left;
	width: 90%;
	height: 80px;
	margin: 15px;
	color: white;
	font-size: 20px;
}