@charset "utf-8";

body
{	
	font-family: Segoe UI Light;
	overflow-x: hidden;
}

a:visited,  a:link
{
	text-decoration: none;
	color: black;
}

a:hover, a:active
{
	text-decoration: none;
	color: #31AFBD;
}

hr 
{
    border: none;
    height: 1px;
    background-color: #31AFBD;
	text-align: center;
	width: 105%;
    margin: 0px;
}

#loader 
{	
	text-align: center;
	background-color: rgba(49,153,218,.8);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
}

.imgLoader{
	margin: 0;
 	position: absolute;
  	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
	width: 50%;
	min-width: 100px;
	max-width: 282px;
}

.dhxwin_text{
	font-size:calc(8px + .6vw);
}
/*transparent color dhtmlxWindows*/
div.dhxwin_active{background-color:rgba(255,255,255,0.9) !important; background: transparent;  border-radius: 10px;}
/* panel transparent */
div.dhxwin_brd, div.dhx_cell_wins, div.dhx_cell_cont_wins{  background-color: transparent !important; background: transparent; border-radius: 0px 0px 10px 10px ;}

div.dhx_cell_cont_wins{text-align: center; font-weight: bold;}
div.dhxwin_text{font-weight: bold;}

#header
{
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #31AFBD;
	width: 100%;
	height: 55px;
	background-color: white;
	z-index: 50;
}

.logo
{
	position: absolute;
	left: 2px;
	margin: 2px;
	height: 85%;
	float: left;
}

.langSel						/*Esto deberia ir al reves, para que langSel sea relativo en right a usuario*/
{
	position: absolute;
	right: 180px;
	margin: 10px;					/*Mal. Esto esta trucado para estar centrado verticalmente*/
	width: 70px;
}

.usuario
{
	position: absolute;
	right: 15px;
	margin: 10px 15px 10px 10px;
	color: #31AFBD; 
	font-size: 1.2em;
	vertical-align: middle;
	display:flex;
    align-items: center; /* Vertical center alignment */
}

#main				
{
	position: absolute;
	top: 55px;
	width: 100%;
	left: 0px;
	
}

#content	
{
	min-height: calc(100vh - 56px - 60px);
}

#footer
{
	position: relative;
	height: 50px;
	top: 10px;
	background-image: linear-gradient(45deg, #359BDB, #5AB1E6);
	width: 100%;
	overflow: hidden;
	padding: 5px;
}

#footer img
{
	float: left;
	height: 50px;
}

.textInfo
{
	margin: 0 auto;
	width: 250px;
	color: white;
	font-size: 10px;
}

/*************************checkin.phtml*****************************/

.title						/*Este se usara para los encabezados*/
{
	color:#3C9EDC;
	font-size: 36px;
	font-weight: 100;
	position:relative;
	top: 3vh;
	left: 3vw;
}

#contCheck
{
	/*Centar div dinamico (Absoluto o fijo)*/
	position: relative;
	left: 0px;
	right: 0px;
	overflow: hidden;
	margin: 0px auto;
	top: 5vw;
	padding: 50px 20px;
	min-width: 300px;
	max-width: 600px;
	border: 1px solid #E2E2E2;
	text-align: center;
	font-family: Segoe UI Semibold;
}

#datos
{
	top: 10%;
	left: 10%;
	width: 30%;
	height: 100%;
	float: left;
	font-size: 100%;
}

#contCheck .pase
{
	width: 50%;
	height: 100%;
	float: right;
	vertical-align: center;
}

.btnTransparent{
	display: inline-block;
	background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}

.hide
{
	display: none;
}

/* home.phtml styles */

#srchForm 
{
	margin: 2em auto 0px;
    width: 70%;
	overflow: hidden;
}

#flyOptions 
{
	font-family: Segoe UI;
  	padding: 10px 5px;
	overflow: inherit;	
	background-color: #3198DA;
	border-radius: 5px;
}

#flyOptions label 
{
	float: left;
	font-size:calc(8px + .8vw);
	color: white;
	width: 20%;
	min-width: 150px;
	margin: 5px 10px;
}

@media screen and (max-width: 805px) 
{
	  #flyOptions label 
	  {
		width: 90%;
	}
}


#flyOptions input[type= text], select 
{
	background: url(../img/row.png) no-repeat 96% 0 white;
	background-size: contain;
	width: 90%;
	font-size: 75%;
	box-sizing: border-box;
	-webkit-appearance:  searchfield;
}


.btnSIA 
{
	display: inline-block;
	font-size:calc(8px + .6vw);
	font-family: Segoe UI Light;
    cursor: pointer;
	padding: 5px;
	color: white;
	margin: 1em 0px 0px;
	border: none;
	background-color:#3197DA;
	border-radius: 5px;
}

#datos .btnSIA { 
	margin: 2em 0px 0px;
}

#pax span{
	float: left;
	padding: 5px 10px;
	text-align: center;
}

#pax span label{
	font-weight: bold;
}

#pax span button[name="radButton"]{
	background-color: #6CACE4;
	border-radius: 50%;
	border: none;
	width: 20px;
	height: 20px;
	color: white;
}

/*********Vuelos**********/ 

.azul
{
	background-image: linear-gradient(45deg, #359BDB, #5AB1E6);
}

.cuadro
{
	width: 90%;
	height: max-content;
	margin: 30px auto;
	color: white;
	font-size: 2.2vw;
	overflow-y: hidden;
	overflow-x: auto;
	padding: 1.8vw 5px;
	vertical-align: middle;
}

#vuelosDisponibles
{
	padding: 1.5vw;
	font-size: 160%;
	text-align: center;
}

.subtitle						/*Este se usara para los encabezados*/
{
	color:#3C9EDC;
	font-size: 30px;
	font-weight: 100;
	position: relative;
	text-align: left;
	top: 3vh;
	left: 3vw;
	padding-bottom: 5px;
}

.subcuadro
{
	text-align: center;
	display: inline-block;
	padding: 0 1.8vw;
	vertical-align: middle;
	line-height: 1.3em;
}

.boton1						/*Utiles en un futuro*/
{
	background-color: #FFFFFF;
	border: none;
	font-size: 1.6vw;
	transition-duration: 0.4s;
	width: 90%;
	height: 30px;
}

.boton1:hover 		/**********************************/
{
	background-color: #E8E3E3;
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.18), 0 12px 30px 0 rgba(0,0,0,0.12);	
}

.radioContainer
{
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 1.6vw;
	user-select: none;
	padding-left: 2vw;
	transition-duration: 0.2s;
}

.radioContainer input
{
	display: none;
}

.radioContainer .circle
{
	display: inline-block;
	width: 1.8vw;
	height: 1.8vw;
	background-color: #FFFFFF;
	position: absolute;
	top: 0.7vw;
	right: 4.2vw;
	border-radius: 50%;
}

.radioContainer:hover .circle
{
	background-color: #E8E3E3;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10), 0 6px 10px 0 rgba(0,0,0,0.08);
}

.radioContainer input:checked + .circle::after
{
	content: "";
	height: 0.9vw;
	width: 0.9vw;
	background-color: #359BDB;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-42%, -46%);
	
}

/**************Asientos**************/

#seleccionDeAsientos
{
	width: 100%;
}

.bloque
{
	display: block;
	position: relative;
	left: 3vw;
	top: 2vw;
	width: 40%;
	float: left;
}

.bloque input
{
	margin: 5px 0;
	display: flex;
	flex-direction: column;
	border: none;
	background-color: #DDEEEE;
	width: 18vw;
	height: 22px;
	padding: 1px;
}
	

.divider
{
	display: block;
	margin-bottom: 35px;
}

/**************payments**************/

#formPay{
	margin: 1em auto 0px;
	padding: 1em;
    width: 80%;
	overflow: hidden;
	font-family: Segoe UI;
	font-size:calc(8px + .6vw);
	background-color: #BBEAFB;
	border-radius: 20px;
		
}

#formPay span{
	display: inline-block;
	width: 100%;
	margin-bottom: 3%;
	box-sizing: border-box;
}

#formPay label{
	display: inline-block;
	width: auto;
	font-weight: bold;
}
